.servicescard{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 250px;
}
.servicecard-img{

}
.servicecard-img img{
    width: 40px;
    height: 40px;
}
.servicecard-content{

}
.servicecard-content h1{
    font-family: var(--font-family);
    font-size: 24px;
    margin: 1rem 0 1.5rem;
    color: black;
    text-align: center;

}
.servicecard-content p{
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0 0 1.5rem;
    color: black;
    text-align: center;
}