@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Display&family=Pinyon+Script&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* background: linear-gradient(90deg, rgba(255, 249, 254, 1) 0%, rgba(255, 216, 251, 1) 14%, rgba(255, 204, 254, 1) 42%, rgba(246, 203, 255, 1) 61%, rgba(248, 218, 255, 1) 80%, rgba(255, 236, 255, 1) 100%); */

}

:root{
  --font-family: "Libre Caslon Display", serif;
  --smaller-family: "Lato", sans-serif;
  --color: #777777;
}

